body {
  font-family: Arial, sans-serif;
  background-color: #fcf6f5;
  margin: 0%;
  width: 100%;
  color: #434343;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #380c03; /* Optional bottom border */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #9e1906;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffb5a2;
}

.container {
  text-align: center;
  width: 600px;
  height: 900px;
  margin: auto;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 15px;
}
label {
  text-align: left;
  display: block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.inline-label {
  display: inline;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 590px;
  height: 40px;
}

#description {
  font-size: 20px;
}

textarea {
  width: 590px;
  height: 100px;
  resize: vertical;
}

.button-row {
  text-align: center;
}

button {
  color: #000;
  background-color: rgb(255, 181, 162);
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 80%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 500px;
  color: #380c03;
  margin: 50px;
  width: 750px;
  left: 20px;
  font-family: 'Great Vibes', cursive;
}

.overlay-text h1 {
  font-size: 80px;
  text-align: left;
}
.overlay-text p {
  margin-bottom: 70px;
  font-size: 20px;
  text-align: left;
}

.overlay-text .collections-btn {
  margin: 80px 0 0 200px;
  font-size: large;
  width: 50%;
  border-radius: 10px;
  padding: 10px 30px;
  background-color:#ffb5a2 ;
}

main {
  padding: 0px;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.product-card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
footer {
  background-color: #380c03;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
h1 {
  text-align: center;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.about-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-section img {
  max-width: 300px;
  margin-right: 40px;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-section p {
  line-height: 1.6;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin-top: 5px;
}
